


#wordSearchContainer {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wordListContainer { 
    border: 2px solid black;
    padding: 10px;


}

#gameTypeSelection{
    text-align: center; 
    margin-left: 1%; 
}

#twoPlayer{
    margin-bottom: 5px;
}


#timer{
    text-align: center; 
    margin-left: 45%;
}

#gameEndMessage{
    text-align: center; 
    margin-left: 35%;
    margin-right: 5%;
    margin-bottom: 5%;
}


.imagecentre{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.ListWords{
    display: block;
    margin-left: auto;
    margin-right: auto;
  margin-bottom: 20px;
    
}

.Leaderboardscore{
    display: block;
    margin-left: auto;
    margin-right: auto;
  margin-top: 20px;  
}
.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

input {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
#activeUsers {
    margin-top: 50px;
}


.selected {
    background-color: #ADD8E6; /* Add your desired highlight color */
}


.highlighted {
    background-color: yellow; /* Change this to the desired highlight color */
}